<script>
  (function() {
    var jovatech = window.jovatech || (window.jovatech = []);
    if (!jovatech.loaded) {
      var adjs = document.createElement('script');
      adjs.async = true;
      adjs.src = 'http://superadtech.herokuapp.com/api/v0/publishers/superjova/ad.js?width=320&height=50';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(adjs, s);
      jovatech.loaded = true;
    }
  })();
  window.jovatech = window.jovatech || [];
</script>
<div class="container phs">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac dapibus turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lacinia, nulla ut dictum varius, nisi leo commodo ligula, nec congue odio mauris id purus. Pellentesque convallis ultrices scelerisque. Nullam lacinia suscipit urna eget aliquet. Sed ut tincidunt elit. Etiam eget tristique nisl. Aenean lobortis in velit vitae consequat. Maecenas tristique sagittis dolor, ut pharetra diam tempus sed. Pellentesque dapibus, lacus non suscipit fermentum, massa nisl posuere libero, eu bibendum quam tortor ac felis. Mauris sed turpis a magna blandit sodales eu nec neque. Donec libero ipsum, pulvinar non sem id, porttitor pretium est. Vestibulum suscipit tempor mi, quis venenatis est porta eget. Nulla sem eros, ultrices sodales pharetra sit amet, elementum nec nisi.
  </p>
  <p>
    Nam at pulvinar ipsum. Etiam ullamcorper sit amet mauris vel cursus. Nulla tristique augue sit amet quam lacinia, a semper enim placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ultrices lorem. Suspendisse eget placerat neque. Vestibulum vehicula quam gravida, facilisis quam eget, laoreet eros. Proin euismod enim facilisis urna euismod ultrices. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin laoreet justo ut dui euismod, sed vehicula felis ultrices. Nulla a consectetur sem. Proin at erat dui. Cras sed pharetra leo. Sed bibendum nunc quis felis aliquam malesuada.
  </p>
  <p>
    Donec sit amet dolor leo. In sagittis nulla libero, ac elementum lorem elementum laoreet. Fusce ipsum dui, pulvinar eu imperdiet id, accumsan ac odio. Suspendisse molestie ut sapien vitae iaculis. Nullam eget luctus magna. Donec at ipsum sit amet ante sagittis fringilla. Nunc congue sapien sed ante commodo, eu efficitur orci feugiat. Donec erat odio, pellentesque at tempor in, consectetur ac mauris. Nam sem dolor, consequat eu laoreet ac, molestie vitae felis.
  </p>
  <p>
    Etiam efficitur eget augue quis dapibus. Etiam ultricies quam eget placerat vulputate. Maecenas dolor dolor, vehicula vel rhoncus vitae, aliquet eu lacus. Aenean maximus pharetra neque nec gravida. Etiam urna metus, posuere vel nisl id, interdum aliquet nisl. Curabitur tristique felis feugiat risus finibus, vulputate lacinia purus sodales. Nam quam nibh, congue sed ex at, scelerisque fringilla nunc. Proin interdum, justo in tempus lobortis, risus felis ornare quam, non placerat ex diam sollicitudin magna. Nam tincidunt condimentum ipsum, eu vehicula nisl aliquam sed. Phasellus erat purus, commodo at vestibulum nec, scelerisque non risus. Nulla tempus tincidunt nibh vel aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>
  <p>
    Sed in turpis id ante ultricies sagittis ut in urna. Duis mauris lorem, pellentesque vel luctus quis, faucibus at dolor. Donec rhoncus bibendum fringilla. Ut suscipit, nibh ac consectetur feugiat, massa libero placerat urna, at sodales ipsum libero nec nisi. In dignissim arcu vitae nisl porta, et mattis dolor posuere. Nulla luctus eleifend mi, ac placerat purus iaculis in. Proin at porta quam. Nullam convallis accumsan sollicitudin. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac dapibus turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lacinia, nulla ut dictum varius, nisi leo commodo ligula, nec congue odio mauris id purus. Pellentesque convallis ultrices scelerisque. Nullam lacinia suscipit urna eget aliquet. Sed ut tincidunt elit. Etiam eget tristique nisl. Aenean lobortis in velit vitae consequat. Maecenas tristique sagittis dolor, ut pharetra diam tempus sed. Pellentesque dapibus, lacus non suscipit fermentum, massa nisl posuere libero, eu bibendum quam tortor ac felis. Mauris sed turpis a magna blandit sodales eu nec neque. Donec libero ipsum, pulvinar non sem id, porttitor pretium est. Vestibulum suscipit tempor mi, quis venenatis est porta eget. Nulla sem eros, ultrices sodales pharetra sit amet, elementum nec nisi.
  </p>
  <div id="jovatech-widget" data-width="300" data-height="250"></div>
  <p>
    Nam at pulvinar ipsum. Etiam ullamcorper sit amet mauris vel cursus. Nulla tristique augue sit amet quam lacinia, a semper enim placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ultrices lorem. Suspendisse eget placerat neque. Vestibulum vehicula quam gravida, facilisis quam eget, laoreet eros. Proin euismod enim facilisis urna euismod ultrices. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin laoreet justo ut dui euismod, sed vehicula felis ultrices. Nulla a consectetur sem. Proin at erat dui. Cras sed pharetra leo. Sed bibendum nunc quis felis aliquam malesuada.
  </p>
  <p>
    Donec sit amet dolor leo. In sagittis nulla libero, ac elementum lorem elementum laoreet. Fusce ipsum dui, pulvinar eu imperdiet id, accumsan ac odio. Suspendisse molestie ut sapien vitae iaculis. Nullam eget luctus magna. Donec at ipsum sit amet ante sagittis fringilla. Nunc congue sapien sed ante commodo, eu efficitur orci feugiat. Donec erat odio, pellentesque at tempor in, consectetur ac mauris. Nam sem dolor, consequat eu laoreet ac, molestie vitae felis.
  </p>
  <p>
    Etiam efficitur eget augue quis dapibus. Etiam ultricies quam eget placerat vulputate. Maecenas dolor dolor, vehicula vel rhoncus vitae, aliquet eu lacus. Aenean maximus pharetra neque nec gravida. Etiam urna metus, posuere vel nisl id, interdum aliquet nisl. Curabitur tristique felis feugiat risus finibus, vulputate lacinia purus sodales. Nam quam nibh, congue sed ex at, scelerisque fringilla nunc. Proin interdum, justo in tempus lobortis, risus felis ornare quam, non placerat ex diam sollicitudin magna. Nam tincidunt condimentum ipsum, eu vehicula nisl aliquam sed. Phasellus erat purus, commodo at vestibulum nec, scelerisque non risus. Nulla tempus tincidunt nibh vel aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>
  <p>
    Sed in turpis id ante ultricies sagittis ut in urna. Duis mauris lorem, pellentesque vel luctus quis, faucibus at dolor. Donec rhoncus bibendum fringilla. Ut suscipit, nibh ac consectetur feugiat, massa libero placerat urna, at sodales ipsum libero nec nisi. In dignissim arcu vitae nisl porta, et mattis dolor posuere. Nulla luctus eleifend mi, ac placerat purus iaculis in. Proin at porta quam. Nullam convallis accumsan sollicitudin. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  </p>
  <p>
    Sed in turpis id ante ultricies sagittis ut in urna. Duis mauris lorem, pellentesque vel luctus quis, faucibus at dolor. Donec rhoncus bibendum fringilla. Ut suscipit, nibh ac consectetur feugiat, massa libero placerat urna, at sodales ipsum libero nec nisi. In dignissim arcu vitae nisl porta, et mattis dolor posuere. Nulla luctus eleifend mi, ac placerat purus iaculis in. Proin at porta quam. Nullam convallis accumsan sollicitudin. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac dapibus turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lacinia, nulla ut dictum varius, nisi leo commodo ligula, nec congue odio mauris id purus. Pellentesque convallis ultrices scelerisque. Nullam lacinia suscipit urna eget aliquet. Sed ut tincidunt elit. Etiam eget tristique nisl. Aenean lobortis in velit vitae consequat. Maecenas tristique sagittis dolor, ut pharetra diam tempus sed. Pellentesque dapibus, lacus non suscipit fermentum, massa nisl posuere libero, eu bibendum quam tortor ac felis. Mauris sed turpis a magna blandit sodales eu nec neque. Donec libero ipsum, pulvinar non sem id, porttitor pretium est. Vestibulum suscipit tempor mi, quis venenatis est porta eget. Nulla sem eros, ultrices sodales pharetra sit amet, elementum nec nisi.
  </p>
  <p>
    Nam at pulvinar ipsum. Etiam ullamcorper sit amet mauris vel cursus. Nulla tristique augue sit amet quam lacinia, a semper enim placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ultrices lorem. Suspendisse eget placerat neque. Vestibulum vehicula quam gravida, facilisis quam eget, laoreet eros. Proin euismod enim facilisis urna euismod ultrices. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin laoreet justo ut dui euismod, sed vehicula felis ultrices. Nulla a consectetur sem. Proin at erat dui. Cras sed pharetra leo. Sed bibendum nunc quis felis aliquam malesuada.
  </p>
  <p>
    Donec sit amet dolor leo. In sagittis nulla libero, ac elementum lorem elementum laoreet. Fusce ipsum dui, pulvinar eu imperdiet id, accumsan ac odio. Suspendisse molestie ut sapien vitae iaculis. Nullam eget luctus magna. Donec at ipsum sit amet ante sagittis fringilla. Nunc congue sapien sed ante commodo, eu efficitur orci feugiat. Donec erat odio, pellentesque at tempor in, consectetur ac mauris. Nam sem dolor, consequat eu laoreet ac, molestie vitae felis.
  </p>
  <p>
    Etiam efficitur eget augue quis dapibus. Etiam ultricies quam eget placerat vulputate. Maecenas dolor dolor, vehicula vel rhoncus vitae, aliquet eu lacus. Aenean maximus pharetra neque nec gravida. Etiam urna metus, posuere vel nisl id, interdum aliquet nisl. Curabitur tristique felis feugiat risus finibus, vulputate lacinia purus sodales. Nam quam nibh, congue sed ex at, scelerisque fringilla nunc. Proin interdum, justo in tempus lobortis, risus felis ornare quam, non placerat ex diam sollicitudin magna. Nam tincidunt condimentum ipsum, eu vehicula nisl aliquam sed. Phasellus erat purus, commodo at vestibulum nec, scelerisque non risus. Nulla tempus tincidunt nibh vel aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>
  <p>
    Sed in turpis id ante ultricies sagittis ut in urna. Duis mauris lorem, pellentesque vel luctus quis, faucibus at dolor. Donec rhoncus bibendum fringilla. Ut suscipit, nibh ac consectetur feugiat, massa libero placerat urna, at sodales ipsum libero nec nisi. In dignissim arcu vitae nisl porta, et mattis dolor posuere. Nulla luctus eleifend mi, ac placerat purus iaculis in. Proin at porta quam. Nullam convallis accumsan sollicitudin. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  </p>
</div>
