<!DOCTYPE html>
<html>
<head>
  <title>Adtech</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name='viewport' content='width=device-width, minimum-scale=1.0, maximum-scale=1.0'>
  <script>
    (function() {
      var jovatech = window.jovatech || (window.jovatech = []);
      if (!jovatech.loaded) {
        var adjs = document.createElement('script');
        adjs.async = true;
        adjs.src = 'http://superadtech.herokuapp.com/api/v0/publishers/superjova/ad.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(adjs, s);
        jovatech.loaded = true;
      }
    })();
    window.jovatech = window.jovatech || [];
  </script>
</head>
<body>
  <%= yield %>
</body>
</html>
